---
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const res = await fetch('https://admin.sunlight.cl/api/posts?depth=1&limit=1000');
  const posts = await res.json();

  return posts.docs.map((post) => {
    return {
      params: { slug: post.id },
      props: post,
    };
  });
}

const data = Astro.props;
---

<Layout title={`Sunlight - ${data.shortTitle}`}>
  <!-- Titulo -->
  <div class="text-center py-10 px-6 sm:px-8">
    <h1
      class="text-4xl sm:text-5xl md:text-6xl font-bold mb-9 tracking-tight leading-[0.98] md:leading-[0.95]"
    >
      {data.title}
    </h1>
    <!-- Introduccion -->
    <p class="text-xl font-normal mb-10">
      {data.introduction}
    </p>
  </div>
  <div class="flex flex-row gap-10 mb-10">
    <!-- Detalle -->
    <div class="flex flex-col gap-5 border-l-2 px-5 border-[#FFDB71]">
      <h3 class="text-2xl font-semibold">Visibilidad Global</h3>
      <p class="text-base font-normal text-neutral-400">
        {JSON.stringify(data.content, null, 2)}
      </p>
    </div>
    <!-- autor -->
    <div class="border-l-2 px-5 border-neutral-500">
      <div class="mb-9">
        <p class="text-xl text-neutral-400">Posteado por</p>
        <div class="flex gap-3">
          <img src="https://via.placeholder.com/40x40" alt="" />
          <div>
            <p class="text-sm font-bold">Ensyrei</p>
            <p class="text-sm font-normal text-neutral-400">
              Inserte un super cargo
            </p>
          </div>
        </div>
      </div>
      <div>
        <p class="text-xl text-neutral-400">Post relacionados</p>
        <div class="flex gap-3">
          <img src="https://via.placeholder.com/40x40" alt="" />
          <p class="text-sm font-bold">Desarrollo de aplicaciones móviles</p>
        </div>
      </div>
    </div>
    <!-- conclusion -->
  </div>
  <div>
    <p class="text-base font-normal text-neutral-400">
      {data.conclusion}
    </p>
  </div>
</Layout>
