---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Sunlight - 404">
  <main class="flex grow max-w-screen-xl mx-auto gap-8 place-items-center">
      <img
        height="128px"
        width="128px"
        src="/logo-yellow.svg"
        alt="Sunlight Logo"
      />
      <h1 class="font-bold text-6xl tracking-tight">
        404
      </h1>
  </main>
</Layout>
