---
import Section from '@/components/Section.astro';
---

<Section>
  <h2 id="contact">Habla con nuestro equipo</h2>
  <p>Asesórate con nuestros profesionales para poder darle vida a tus ideas.</p>
</Section>
