---
import Section from '@/components/Section.astro';
---

<Section class="text-center py-10" id="services">
  <h2 class="text-6xl font-bold mb-9">Habla con nuestro equipo</h2>
  <p class="text-xl max-w-2xl mx-auto text-neutral-400 mb-28">
    Asesórate con nuestros profesionales para poder darle vida a tus ideas.
  </p>
</Section>
