---
import Section from '@/components/Section.astro';
---

<Section>
  <h1>Brindamos Luz a las Ideas.</h1>
  <p>Sunlight, tu socio en la creación profesional de sitios web</p>
  <a href="#contact">Contáctanos</a>
  <small>Conoce nuestras tecnologías</small>
</Section>
