---
import GradientSpan from '@/components/GradientSpan.astro';
('');

const technologies = [
  {
    src: '/favicon.svg',
    alt: 'Logo',
  },
  {
    src: '/favicon.svg',
    alt: 'Logo',
  },
];
const techx5 = [...technologies, ...technologies, ...technologies];
---

<section
  class="text-center flex flex-col h-full justify-center items-center py-20 px-8 min-h-[calc(100vh-80px)]"
>
  <h1
    class={`
      text-6xl sm:text-8xl md:text-9xl font-semibold tracking-tighter leading-[0.9] mb-10 tall:max-w-3xl
    `}
  >
    <span
      class="bg-gradient-to-br from-[#FBBD05] to-[#BC4A09] bg-clip-text text-transparent px-1"
      >Brindamos</span
    >{' '}
    <GradientSpan class="whitespace-nowrap">Luz A</GradientSpan>{' '}
    <GradientSpan class="whitespace-nowrap">Las Ideas</GradientSpan>{' '}
  </h1>
  <p class="text-2xl text-neutral-400 mb-20">
    Sunlight, tu socio en la creación profesional de sitios web
  </p>
  <a
    class="block appearance-none font-medium text-neutral-950 bg-neutral-50 hover:bg-neutral-300 transition-colors py-4 px-8 rounded-lg mb-20"
    href="#contact">Contáctanos</a
  >
  <small
    class="uppercase font-bold text-xs tracking-[0.2em] text-neutral-400 mb-10"
    >Conoce nuestras tecnologías</small
  >
  <ul>
    {
      techx5.map(({ src, alt }) => (
        <li class="inline-block h-16 mr-8">
          <img class="h-full" src={src} alt={alt} title={alt} />
        </li>
      ))
    }
  </ul>
</section>
