---
import ContactSection from '@/components/home/ContactSection.astro';
import HeroSection from '@/components/home/HeroSection.astro';
import ServicesSection from '@/components/home/ServicesSection.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Sunlight">
  <main class="max-w-screen-xl mx-auto">
    <HeroSection />
    <ServicesSection />
    <ContactSection />
  </main>
</Layout>
