---
import Section from '@/components/Section.astro';

const serviceList = [
  {
    title: 'Tecnologías de Vanguardia',
    description:
      'Ofrecemos soluciones de desarrollo web con las últimas tecnologías del mercado. Nuestros proyectos son escalables y fáciles de mantener.',
  },
  {
    title: 'Compromiso con la Accesibilidad',
    description:
      'Diseñamos sitios web que cumplen con estándares de accesibilidad web para llegar a un público más amplio.',
  },
  {
    title: 'SEO y visibilidad',
    description:
      'Nuestros sitios web están optimizados para motores de búsqueda y cumplen con las mejores prácticas de SEO.',
  },
  {
    title: 'Diseño UX/UI Personalizado',
    description:
      'Diseñamos interfaces de usuario intuitivas y atractivas para que tus usuarios tengan una experiencia de usuario única.',
  },
  {
    title: 'Optimización de Rendimiento',
    description:
      'Nos especializamos en la optimización de velocidad y rendimiento de sitios web.',
  },
  {
    title: 'Diseño Responsivo',
    description:
      'Nuestros sitios web se adaptan a cualquier dispositivo y tamaño de pantalla.',
  },
];
---

<Section class="text-center py-10" id="services">
  <h2 class="text-6xl font-bold mb-9">Nuestros Servicios en Detalle</h2>
  <p class="text-xl max-w-2xl mx-auto text-neutral-400 mb-28">
    Descubre cómo nuestros servicios personalizados y profesionales pueden dar
    vida a tus proyectos web. Aquí te presentamos las características que nos
    hacen destacar.
  </p>
  <div class="flex items-stretch gap-16 mb-20">
    <div class="bg-neutral-800 max-w-xl w-full"></div>
    <ul class="text-left flex flex-col gap-14">
      {
        serviceList.splice(0, 3).map((service) => (
          <li>
            <figure class="bg-[#FFDB71] h-12 w-12 grid items-center justify-center text-neutral-800 rounded-md text-2xl mb-5">
              <img class="h-6" src="/favicon.svg" alt="Rocket" />
            </figure>
            <h3 class="mb-3 font-medium text-xl">{service.title}</h3>
            <p class="text-neutral-400">{service.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="flex items-stretch gap-16">
    <div class="bg-neutral-800 max-w-xl w-full"></div>
    <ul class="text-left flex flex-col gap-14">
      {
        serviceList.splice(0, 3).map((service) => (
          <li>
            <figure class="bg-[#FFDB71] h-12 w-12 grid items-center justify-center text-neutral-800 rounded-md text-2xl mb-5">
              <img class="h-6" src="/favicon.svg" alt="Rocket" />
            </figure>
            <h3 class="mb-3 font-medium text-xl">{service.title}</h3>
            <p class="text-neutral-400">{service.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</Section>
