---
import Section from '@/components/Section.astro';
---

<Section>
  <h2 id="services">Nuestros Servicios en Detalle</h2>
  <p>
    Descubre cómo nuestros servicios personalizados y profesionales pueden dar
    vida a tus proyectos web. Aquí te presentamos las características que nos
    hacen destacar.
  </p>
  <ul>
    <li>
      <h3>Tecnologías de Vanguardia</h3>
      <p>
        Ofrecemos soluciones de desarrollo web con las últimas tecnologías del
        mercado. Nuestros proyectos son escalables y fáciles de mantener.
      </p>
    </li>
    <li>
      <h3>Compromiso con la Accesibilidad</h3>
      <p>
        Diseñamos sitios web que cumplen con estándares de accesibilidad web
        para llegar a un público más amplio.
      </p>
    </li>
    <li>
      <h3>SEO y visibilidad</h3>
      <p>
        Nuestros sitios web están optimizados para motores de búsqueda y cumplen
        con las mejores prácticas de SEO.
      </p>
    </li>
    <li>
      <h3>Diseño UX/UI Personalizado</h3>
      <p>
        Diseñamos interfaces de usuario intuitivas y atractivas para que tus
        usuarios tengan una experiencia de usuario única.
      </p>
      <li>
        <h3>Optimización de Rendimiento</h3>
        <p>
          Nos especializamos en la optimización de velocidad y rendimiento de
          sitios web.
        </p>
      </li>
      <li>
        <h3>Diseño Responsivo</h3>
        <p>
          Nuestros sitios web se adaptan a cualquier dispositivo y tamaño de
          pantalla.
        </p>
      </li>
    </li>
  </ul>
</Section>
