<footer class="border-t border-neutral-800">
  <div class="max-w-screen-xl mx-auto px-8 py-10">
    <img class="h-6 mb-3" src="/favicon.svg" alt="Logo" />
    <p class="text-neutral-500">© 2023 Todos los derechos reservados.</p>
  </div>
</footer>
