---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<span
  class:list={[
    'bg-gradient-to-br from-[#FBBD05] to-[#BC4A09] bg-clip-text text-transparent px-1',
    className,
  ]}
>
  <slot />
</span>
