<header class="flex items-center gap-20 p-6">
  <img class="h-8" src="/logo-title.svg" alt="Sunlight Logo" />
  <nav>
    <ul class="flex gap-10 text-sm">
      <li>
        <a
          class="text-neutral-400 hover:text-neutral-50 transition-colors"
          href="#services">Servicios</a
        >
      </li>
      <li>
        <a
          class="text-neutral-400 hover:text-neutral-50 transition-colors"
          href="#contact">Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
